/* Content
-----------------------------------------------------------------------------*/

.content{
	min-height: 1000px;
}

.page-section{
	margin: 0;
	padding: 10px 0;

	&.mission{
		background: url(../img/mission_bg.jpg) center center no-repeat;
		background-size: cover;
		margin: 0;

		.section-title{
			color: #fff;
			margin: 82px 0 58px;
		}

		.container{
			max-width: 786px;
		}

		.event-links{
			margin: 18px 0 65px;
		}

		.address{
			.container{
				max-width: 526px;
			}
		}
	}
}

.section-title {
	margin: 60px 0 -22px;
	text-align: center;
	color: $clr-orange;
	font-size: 110px;
	font-family: $lato;
	font-weight: 900;
	text-transform: lowercase;
	letter-spacing: 0.03em;
}

.section-highlight-title {
	margin: 20px 0 ;
	color: $clr-dark;
	font-size: 24px;
	line-height: 1.4;
	font-family: $lato;
	font-weight: 600;
	width: 90%;

	@media only screen and (min-width : 420px) {
		margin: 60px 0 30px;
		font-size: 36px;
		line-height: 1.5;
	}
}

.mission{
	color: #fff;

	&__desc{
		font: 20px/1.54 $lato;
		letter-spacing: 0.03em;
		margin: 24px 0 24px;
	}

	&__link{
		text-align: center;
		font-size: 26px;
		margin: 57px 0 66px;
		letter-spacing: 0.03em;

		a{
			color: #fff;

			&:hover{
				color: $clr-orange;
			}
		}
	}

	&__socials-title{
		text-align: center;
	}
}

.event-item{
	padding-top: 22px;
	border-bottom: 1px solid $clr-grey;

	&:first-child{
		padding-top: 0;
	}

	&__descr{
		font: 18px/1.68 $lato;
		letter-spacing: 0.03em;
	}

	.container{
		max-width: 730px;
	}
}

.event-logo{
	text-align: center;
	margin: 68px 0 43px;

	&__img{

	}

	&__title{
		font-size: 40px;
		font-weight: 700;
		font-family: $lato;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		margin: 15px 0;
		line-height: 1.16;

		&.green{
			color: $clr-green;
		}

		&.red{
			color: $clr-red;
		}

		&.blue{
			color: $clr-blue;
		}
	}

	&__light{
		font-weight: 300;
	}
}

.event-links{
	padding: 0;
	margin: 52px 0 87px;
	list-style: none;
	text-align: center;

	&__item{
		display: inline-block;
		margin: 0 20px;
		vertical-align: top;
	}

	&__link{
		position: relative;
		display: block;
		width: 40px;
		height: 32px;
		color: #b3b2b2;

		&.m:after,
		&.tw:after,
		&.fb:after,
		&.yt:after{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 0;
			background-color: #fff;
			transition: all linear .1s;
		}

		&:hover{
			&:after{
				height: 32px;
			}
		}

		&.abs{
			position: relative;
			width: auto;
			line-height: 32px;
			padding-right: 16px;

			&:after{
				content: '';
				position: absolute;
				top: 13px;
				right: 0;
				height: 9px;
				width: 9px;
				background: #b3b2b2;
				transform: rotate(45deg);
				transition: background linear .2s;
			}

			&:before{
				content: '';
				position: absolute;
				top: 13px;
				right: 3px;
				height: 9px;
				width: 9px;
				background: #fff;
				transform: rotate(45deg);
				z-index: 1;
			}

			&:hover{
				color: $clr-orange;
				text-decoration: none;

				&:after{
					background: $clr-orange;
				}
			}
		}

		&.m{
			background: url(../svg/socials_m_gray.svg) center center no-repeat;

			&:after{
				background: #fff url(../svg/socials_m_clrd.svg) center bottom no-repeat;
				background-size: 40px 32px;
			}
		}
		&.fb{
			background: url(../svg/socials_fb_gray.svg) center center no-repeat;

			&:after{
				background: #fff url(../svg/socials_fb_clrd.svg) center bottom no-repeat;
				background-size: 40px 32px;
			}
		}
		&.tw{
			background: url(../svg/socials_tw_gray.svg) center center no-repeat;

			&:after{
				background: #fff url(../svg/socials_tw_clrd.svg) center bottom no-repeat;
				background-size: 40px 32px;
			}
		}
		&.yt{
			background: url(../svg/socials_yt_gray.svg) center center no-repeat;

			&:after{
				background: #fff url(../svg/socials_yt_clrd.svg) center bottom no-repeat;
				background-size: 40px 32px;
			}
		}
	}

	&.orange{

		.event-links__item{
			margin: 0 10px;
		}

		.event-links__link{
			width: 44px;
			height: 44px;

			&:hover{
				&:after{
					height: 44px;
				}
			}

			&.fb{
				background: url(../svg/socials_fb_orange.svg) center center no-repeat;
					background-size: 44px 44px;

				&:after{
					background: url(../svg/socials_fb_clrd.svg) center bottom no-repeat;
					background-size: 44px 44px;
				}
			}
			&.tw{
				background: url(../svg/socials_tw_orange.svg) center center no-repeat;
					background-size: 44px 44px;

				&:after{
					background: url(../svg/socials_tw_clrd.svg) center bottom no-repeat;
					background-size: 44px 44px;
				}
			}
		}
	}
}

.event-media{
	position: relative;
	margin: 100px 0 0;

	&__video{
		width: 100%;
		height: 536px;
	}

	&__photos{
		position: absolute;
		bottom: -20px;
		right: 0px;
		width: 240px;
		height: 240px;
		z-index: 100;
		background: url(../pic/event_photos.jpg) center center no-repeat;
		font-weight: 600;
		letter-spacing: 0.03em;

		&:hover{
			.event-media__photos-frame{
				background: rgba(0, 0, 0, 0.2);
				-webkit-transform: translate(-18px, 18px);
				 -moz-transform: translate(-18px, 18px);
					-ms-transform: translate(-18px, 18px);
					 -o-transform: translate(-18px, 18px);
						transform: translate(-18px, 18px);
			}
		}
	}

	&__photos-frame{
		font-size: 26px;
		position: absolute;
		left: 18px;
		bottom: 18px;
		width: 240px;
		height: 240px;
		border: 8px solid $clr-orange;
		background: rgba(0, 0, 0, 0.4);
		pointer-events: none;
		text-align: center;
		padding-top: 80px;
		color: #fff;
		text-decoration: underline;
		transition: all ease-out .14s;
	}
}

.sponsors-block{
	text-align: justify;
	padding: 0;
	margin: 46px 0 36px;

	&__img-wrap{
		display: inline-block;
		vertical-align: middle;
		margin: 68px 0 80px 0;
		width: 33%;

		&:hover{
			.sponsors-block__img{
				transform: scale(0.95, 0.95);
			}
		}
	}

	&__img{
		display: block;
		margin: 0 auto;
		transition: all ease-out .14s;
	}
}

.address{
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	font: 18px/1.46 $lato;
    letter-spacing: 0.03em;

	&__left{
		float: left;
		margin: 33px 0 20px;
	}

	&__right{
		float: right;
		margin: 33px 0 20px;
	}
}

.statement-list {
	font: 18px/1.46 $lato;
	padding: 0;
	margin: 60px 0;
	list-style: none;

	&__item {
		position: relative;
		margin: 1em 0 0;
		padding: 0 0 0 20px;

		&:after{
			content: '';
			position: absolute;
			left: 0;
			top: 7px;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background: #fe7800;
		}
	}
}

.basic-text {
	font: 18px/1.46 $lato;
	margin: 1em 0 2em;
}

.pass-page {
	&__note {
		font-size: .6em;
		vertical-align: super;
    	line-height: 0;
		text-decoration: none !important;
	}
	&__description {
		display: flex;
		margin-top: 30px;
		flex-direction: column;

		@media only screen and (min-width : 420px) {
			flex-direction: row;
			margin-top: 60px;
			margin-bottom: 30px;
		}
	}
	&__description-list {
		list-style: none;
		margin: 20px 0;
		padding: 0;
		li {
			font-size: 15px;
			margin-bottom: 10px;
			position: relative;
			padding-left: 12px;
			&:before {
				content: '-';
				left: 0;
				position: absolute;
			}
		}
		ul {
			list-style: none;
			margin-top: 5px;
			margin-bottom: 10px;
			padding-left: 0;

			li {
				margin-bottom: 5px;
				&:before {
					color: #b3b3b3;
				}
			}
		}
	}
	&__card {
		position: relative;
		background: #FFFC00;
		display: flex;
		align-items: flex-start;
		border-radius: 10px;
		padding: 40px;

		@media only screen and (min-width : 769px) {
			padding: 60px;
		}

		img {
			width: 60px;
			margin-right: 30px;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 100%;
			left: 50px;
			right: 50px;
			height: 0px;
			box-shadow: 0 0 15px 12px #FFF666;

			@media only screen and (min-width : 420px) {
				box-shadow: 0 0 30px 25px #FFF666;
			}
		}
	}
	&__card-content {
		align-self: center;
	}
	&__card-name {
		font-size: 17px;
		line-height: 1.4;
		margin-bottom: 8px;
	}
	&__card-email {
		font-size: 13px;
	}
	&__description-left {
		padding: 0;
		margin-bottom: 30px;

		@media only screen and (min-width : 420px) {
			padding: 0 30px;
		}

		@media only screen and (min-width : 769px) {
			padding: 0 100px 0 80px;
		}
	}
	&__description-right {
		flex: auto;
	}
	&__description-highlight {
		font-size: 20px;
		line-height: 28px;
		strong {
			color: #fe7800;
		}
	}
	&__event-list {}
	&__event-list-highligt {
		font-size: 22px;
		.basic-text {
			font-size: 16px;
		}
	}
	&__event-list-item-header {
		font-size: 12px;
		border-bottom: none !important;
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
		display: none;

		@media only screen and (min-width : 420px) {
			display: block;
		}
	}
	&__event-list-item {
		margin-bottom: 50px;
		padding-bottom: 30px;

		&:not(:last-child) {
			border-bottom: 2px solid #efefef;
		}
	}
	&__event-list-item-line {
		display: flex;
		margin-bottom: 15px;
		flex-direction: column;
		flex-flow: wrap;

		@media only screen and (min-width : 420px) {
			flex-flow: row;
			flex-direction: row;
		}

		.pass-page__event-list-regular-price,
		.pass-page__event-list-new-price {
			margin-top: 15px;
			@media only screen and (min-width : 420px) {
				margin-top: -10px;
			}
		}

		&:first-child {
			.pass-page__event-list-regular-price,
			.pass-page__event-list-new-price {
				@media only screen and (min-width : 420px) {
					margin-top: 30px;
				}
			}
		}
	}
	&__event-list-logo {
		width: 70%;
		padding-right: 50px;
		align-self: left;
		margin-bottom: 20px;

		@media only screen and (min-width : 420px) {
			margin-bottom: 0;
			width: 20%;
			align-self: center;
		}
	}
	&__event-list-logo-img {
		width: 100%;
	}
	&__event-list-description {
		width: 100%;
		padding-right: 20px;
		font-size: 16px;

		@media only screen and (min-width : 420px) {
			width: 60%;
		}

	}
	&__event-list-description-title {
		font-weight: 700;
		font-size: 22px;
		color: $clr-dark;
		margin-bottom: 10px;
	}
	&__event-list-date {
		font-weight: 300;
		color: $clr-default;
		white-space: nowrap;
	}
	&__event-list-description-text {
		font-size: 15px;
		line-height: 1.4;

	}
	&__event-list-price-block {
		width: 50%;
		text-align: center;

		@media only screen and (min-width : 420px) {
			width: 10%;
		}
	}
	&__event-list-regular-price {
		font-size: 24px;
		font-weight: 300;
		line-height: 34px;
		color: #9e9e9e;
	}
	&__event-list-new-price {
		font-size: 30px;
		font-weight: 900;
		line-height: 30px;
		color: $clr-dark;
	}
	&__event-list-cta {
		margin-bottom: 100px;
		text-align: center;
	}
	&__footnote {
		font-size: 14px;
	}
	&__event-list-cta-button {
		padding: 20px 30px;
		border-radius: 5px;
		background: $clr-orange;
		color: white;
		text-decoration: none;
		&:hover {
			background: darken($clr-orange, 10%);
		}
	}
}
